/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
body {
  position: relative;
  color: white;
  height: 100vh;
  background: linear-gradient(
    200.96deg,
    #d21802 -90%,
    #000000 40%,
    #000000 60%,
    #5a0c7e 169%
  );
  font-family: sans-serif;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0;
}

.top-container {
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.instructions-container,
.stratagem-container {
  padding-top: 10px;
}

.arrows-container {
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrows-container .arrows {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-size: 4rem;
  font-weight: 900;
  padding: 1rem;
}

.bottom-container {
  height: 30vh;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.footer {
  padding-bottom: 10px;
}

.bottom-right {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 1rem;
}
